* {
	color: black;
	box-sizing: border-box;
	text-decoration: none;
}

body, html {
	background: white;
	height: 100%;

}

div#container {
  max-width: 800px;
  margin: 0 auto;
  height: inherit;
  min-height: 540px;
}

#content {
	display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-height: 100vh;
  -webkit-text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: inherit;
}

#gameboard {
	background: url("../images/TicTacToe.png");
	background-repeat: no-repeat;
	background-size: 360px 540px;	
	width: 360px;
	min-height: 540px;
	border-radius: 5px;
	border:solid gray 1px;
	margin: 0 auto;
}

#winner {
	color: white;
	position: relative;
	top: -11px;
}

.green {
	background: url("../images/green-tic.png");
	background-size: 100px 100px;
	-webkit-animation-name: rotate;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name: rotate;
    -moz-animation-duration:1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
}	

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}

.white {
	background: url("../images/white-tic.png");
	background-size: 100px 100px;
	-webkit-animation-name: rotate;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name: rotate;
    -moz-animation-duration:1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
}

#reset {
	position: relative;
	top: 95px;
	right: 3px;
	color: rgba(1,153,51,0);
}

#tictactoe {
	height:300px;
	width: 340px;
	color: black;
	margin: 0 auto;
	margin-top: 130px;
}

#gameover {
	display: none;
	width: 360px;
	height: 540px;
	position: absolute;
}

#r1c1, #r1c2, #r1c3, #r2c1, #r2c2, #r2c3, #r3c1, #r3c2, #r3c3 {

}

#r2c1, #r2c2, #r2c3 {
	border-bottom: thin solid black;
	border-top: thin solid black;
}

#r1c2, #r2c2, #r3c2 {
	border-left: thin solid black;
	border-right: thin solid black;
	background: cover;
}

