<!DOCTYPE html>
<html ng-app="ticTacs">
<head>
	<title>Tic Tacs Toe</title>

	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

	<script type="text/javascript" src="js/app.js"></script>

	<script type="text/javascript" src="js/ticTacController.js"></script>

</head>
<body ng-controller="TicTacController as ticTacCtrl">
<div id="wrapper">
	<div id="player-one-chat">
		<div id="player-one-chat-window">
		</div>
	</div>
<div id="container">
	<div id="content">
		<div id="player-one">
		<h5>Player One: {{ticTacCtrl.gameData.playerOneFlavor}}</h5>
		<span ng-show="ticTacCtrl.gameData.playerOneClass" class="{{ticTacCtrl.gameData.playerOneClass}} icons"></span>
		<ul ng-show="!ticTacCtrl.gameData.playerOneClass" class="tictacs">
        <li ng-click="ticTacCtrl.playerOne($index)" ng-repeat="tictac in ticTacCtrl.players.tictacs track by $index">
          <img ng-src="{{tictac.image}}" alt="{{tictac.type}}">
          <h4>{{tictac.type}} <span ng-show="tictac.count > 0">({{tictac.count}})</span></h4>
        </li>
      </ul>
		</div> <!-- end player-one div -->
		<div id="gameboard">
			<h4 id="winner">{{ticTacCtrl.gameData.winner}}</h4>
			<h2 ng-click="ticTacCtrl.newGame();" id="reset">fresh game</h2>
			<div id="tictactoe">
			  	<span class="pieces {{piece.ticTacClass}}" ng-click="showme = true; ticTacCtrl.gameMove($index);" ng-repeat="piece in ticTacCtrl.pieces.spaces track by $index">
				</span>
			</div> <!-- end tictactoe div -->
		</div> <!-- end gameboard div -->
		<div id="player-two">
		<h5>Player Two: {{ticTacCtrl.gameData.playerTwoFlavor}}</h5>
		<span ng-show="ticTacCtrl.gameData.playerTwoClass" class="{{ticTacCtrl.gameData.playerTwoClass}} icons"></span>
		<ul ng-show="!ticTacCtrl.gameData.playerTwoClass" class="tictacs">
        <li ng-click="ticTacCtrl.playerTwo($index)" ng-repeat="tictac in ticTacCtrl.players.tictacs track by $index">
          <img ng-src="{{tictac.image}}" alt="{{tictac.type}}">
          <h4>{{tictac.type}} <span ng-show="tictac.count > 0">({{tictac.count}})</span></h4>
        </li>
      </ul>
		</div> <!-- end player-two div -->
	</div> <!-- end content div -->
</div> <!-- end container div -->
		<div id="player-two-chat">
		<div id="player-two-chat-window">
		</div>
	</div>
</div>
</body>
</html>
