<!DOCTYPE html>
<html ng-app="ticTacs">
<head>
	<title>Tic Tacs Toe</title>

	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	
</head>
<body ng-controller="TicTacController as ticTacs">
<div id="container">
	<div id="content">
		<div id="player-one">
		<h5>Player One: {{ticTacs.playerOneFlavor}}</h5>
		<span ng-show="ticTacs.playerOneClass" class="{{ticTacs.playerOneClass}} icons"></span>
		<ul ng-show="!ticTacs.playerOneClass" class="tictacs">
        <li ng-click="ticTacs.playerOne($index)" ng-repeat="tictac in ticTacs.players.tictacs track by $index">
          <img ng-src="{{tictac.image}}" alt="{{tictac.type}}">
          <h4>{{tictac.type}} <span ng-show="tictac.count > 0">({{tictac.count}})</span></h4>
        </li>
      </ul>
		</div> <!-- end player-one div -->
		<div id="gameboard">
			<h4 id="winner">{{ticTacs.winner}}</h4>
			<h2 ng-click="ticTacs.newGame();" id="reset">fresh game</h2>
			<div id="tictactoe">
			  	<span class="pieces {{piece.ticTacClass}}" ng-click="showme = true; ticTacs.gameMove($index);" ng-repeat="piece in ticTacs.pieces.spaces track by $index">
				</span>
			</div> <!-- end tictactoe div -->
		</div> <!-- end gameboard div -->
		<div id="player-two">
		<h5>Player Two: {{ticTacs.playerTwoFlavor}}</h5>
		<span ng-show="ticTacs.playerTwoClass" class="{{ticTacs.playerTwoClass}} icons"></span>
		<ul ng-show="!ticTacs.playerTwoClass" class="tictacs">
        <li ng-click="ticTacs.playerTwo($index)" ng-repeat="tictac in ticTacs.players.tictacs track by $index">
          <img ng-src="{{tictac.image}}" alt="{{tictac.type}}">
          <h4>{{tictac.type}} <span ng-show="tictac.count > 0">({{tictac.count}})</span></h4>
        </li>
      </ul>
		</div> <!-- end player-two div -->
	</div> <!-- end content div -->
</div> <!-- end container div -->
</body>
</html>